body {
    background-image: url("para.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.container {
    padding: 25px;
    margin: 25px;
}

#quiz {
    background-color: #bf00ff;
}