body {
    background-image: url("para.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin: 0;
}

.container {
    padding: 25px;
    margin: 25px;
}

#quiz {
    background-color: #bf00ff;
}